@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/test.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);
@import url(../blocks/submit.css);
.final-results__img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.final-results__personality {
  color: #f57c00;
  font-family: "Marcellus", serif;
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
  display: none;
}
.final-results__img {
  display: none;
  margin: 0 auto;
}
