.final-results__img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.final-results__personality {
  color: #f57c00;
  font-family: "Marcellus", serif;
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
  display: none;
}
.final-results__img {
  display: none;
  margin: 0 auto;
}
.final-results__description {
  font-family: "Marcellus", serif;
  color: #f57c00;
  text-align: center;
}
