.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cinzel", serif;
}

.modal.hidden {
  display: none;
}

.modal__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  backdrop-filter: blur(5px);
}

.modal__content {
  background: #81c784;
  padding: 2rem;
  border-radius: 8px;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font-size: 40px;
}

.modal__text {
  font-size: 30px;
}

.modal__start {
  border: none;
  background-color: #81c784;
  cursor: pointer;
  font-size: 25px;
}

@media (max-width: 717px) {
  .modal__title {
    font-size: 30px;
  }
  .modal__text {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .modal__content {
    width: 50%;
    height: 50%;
  }
  .modal__title {
    font-size: 15px;
  }
  .modal__text {
    font-size: 15px;
  }
  .modal__start {
    font-size: 15px;
  }
}
