.submit {
  margin-top: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.submit__btn {
  background-color: #f57c00;
  border: none;
  width: 100px;
  height: 25px;
  font-family: "Marcellus", serif;
  border-radius: 1.5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
    inset 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
}

.submit__btn_inactive {
  opacity: 50%;
}

.submit__btn:hover {
  cursor: pointer;
  color: white;
}

.submit__btn:disabled {
  cursor:default;
  color: #000;
}