.test {
  padding: 20px;
}

.test__form {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.test__question {
  background-color: #f57c00;
  color: #000000;
  text-align: center;
  padding: 10px 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Marcellus", serif;
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
    inset 0 2px 0 rgba(255, 255, 255, 0.4), inset 0 -2px 0 rgba(0, 0, 0, 0.2);
}

.test__answer {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  font-family: "Cinzel", serif;
}

.test__answer:checked + label .card__image {
  opacity: 0.8;
  transform: scale(0.98);
  transition: all 0.2s ease;
  border-color: #f57c00;
}
@media (max-width: 717px) {
  .test__question {
    padding: 5px 10px;
  }
}

@media (max-width: 480px) {
  .test__question {
    font-size: 20px;
  }
}