.cards {
  width: 50%;
  margin: 0 auto;
  padding: 0 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
}
@media (max-width: 717px) {
  .cards {
    width: 85%;
    margin: 0 auto;
    padding: 0 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cards__list {
    grid-template-columns: none;
  }
}
@media (max-width: 480px) {
  .cards {
    width: 85%;
    margin: 0 auto;
    padding: 0 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
