.card {
  position: relative;
}

.card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: solid 5px #000;
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-family: "Unica One", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}

.card label {
  cursor: pointer;
  display: block;
}

.card__answers {
  color: #f57c00;
  margin: 0;
  font-family: "Cinzel", serif;
  padding: 20px;
}

@media (max-width: 717px) {
}

@media (max-width: 480px) {
  .card__answers {
    font-size: 15px;
  }
}
