.final-results__img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: none;
  margin: 0 auto;
  margin-bottom: 1.2em;
}
.final-results__personality {
  color: #f57c00;
  font-family: "Marcellus", serif;
  text-align: center;
  margin-top: 30px;
  font-size: 2rem;
  display: none;
}

.final-results__description {
  font-family: "Marcellus", serif;
  color: #f57c00;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 480px) {
  .final-results__description {
    font-size: 16px;
  }
}
