.footer {
  border-top: 5px solid #f57c00;
  font-family: "Marcellus", serif;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__copyright {
  color: #f57c00;
  display: flex;
  justify-content: center;
}

.footer__names {
  color: #f57c00;
}

@media (max-width: 480px) {
  .footer__container {
    padding-left: 20px;
  }
}
