.header {
  margin-top: 0;
  margin-left: 1.5%;
}

.header__title {
  color: #f57c00;
  font-family: "Cinzel", serif;
}

@media (max-width: 480px) {
  .header__title {
    font-size: 1.45em;
  }
  .header {
    margin-left: 4.5%;
  }
}
