.submit {
  margin-top: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.submit__btn {
  background-color: #f57c00;
  border: none;
  width: 100px;
  height: 25px;
  font-family: "Marcellus", serif;
  border-radius: 1.5px;
}

.submit__btn:hover {
  cursor: pointer;
  color: white;
}
