.test {
  padding: 20px;
}

.test__question {
  background-color: #f57c00;
  color: #000000;
  text-align: center;
  padding: 10px 20px;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Marcellus", serif;
  border-radius: 1px;
}

.test__answer {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.test__answer:checked + label {
  opacity: 0.8;
  transform: scale(0.98);
  transition: all 0.2s ease;
}
